
    
    <nav ngxNavbarDynamicExpand class="navbar navbar-dark fixed-top bg-primary">
       
        
          <a class="navbar-brand" routerLink='/'>Dating App</a>
          <button class="navbar-toggler" type="button" (click)="collapse.toggle()"  aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Navigation collapse">
            <span class="navbar-toggler-icon d-flex align-items-center justify-content-center" ></span>
          </button>
          <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
            <ul class="navbar-nav mr-auto mb-2 mb-md-0" >
              <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink='/members' routerLinkActive='active'>Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/messages' routerLinkActive='active'>Messages</a>
                </li>
              </ng-container>
              <li class="nav-item">
                <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
              </li>
            </ul>
            <div class="dropdown" *ngIf="(accountService.currentUser$ | async)" dropdown>
              <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user}}</a>
              <div class="dropdown-menu mt-3" *dropdownMenu >
                <a href="" class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
            <form *ngIf="(accountService.currentUser$ | async)===null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
              <input class="form-control me-2" name="username" [(ngModel)]="model.username" type="text" placeholder="Username" >
              <input class="form-control me-2" name="username" [(ngModel)]="model.password" type="password" placeholder="Password" >
              <button class="btn btn-success" type="submit">Login</button>
            </form>
          </ngx-navbar-collapse>
       
      </nav>


